# Virtualbox Options
# As of this writing, the cloud images from Ubuntu only
# have 4GB of disk space. Since resizing is not straight
# forward, it's best to get a version of the box with
# the right size (ask Ramon Tayag about it). If not, you'll
# either need to a) resize, or find the box with the right
# size.
box_url: "https://cloud-images.ubuntu.com/vagrant/utopic/current/utopic-server-cloudimg-amd64-vagrant-disk1.box"
ip: "192.168.33.10"
memory: 2048
cpus: 2

# Digital Ocean Options
private_key_path: '~/.ssh/id_rsa'
# the name of the if it already exists
key_name: 'tintin'
token: "8dsja"
region: "sgp1"
size: "1gb"
