---
- unarchive:
    src: https://github.com/facebook/watchman/releases/download/v2021.01.04.00/watchman-v2021.01.04.00-linux.zip
    dest: "{{home_dir}}/watchman/"
    remote_src: yes

- name: Setup binaries
  shell: |
    mkdir -p /usr/local/{bin,lib} /usr/local/var/run/watchman
    cp bin/* /usr/local/bin
    cp lib/* /usr/local/lib
    chmod 755 /usr/local/bin/watchman
    chmod 2777 /usr/local/var/run/watchman
  become: True
